*
!build/oe11pl/**/*.pl
!build/ablcontainer/pl/**/*.pl
!build/assemblies/**/*
!build/static/**/*
!src/**/*
!*.so*
!consumer-test
!producer-test
!combined-test
!*.so.1
!*.cer
!*Schema.json
!logging.config
!test
!_progres
!build/ablcontainer/oe11pl/*