
{
  "DEFAULT_LOGGER": "Default",
  "logger": {
      "Default": {
          "logLevel": "INFO",
          "filters": [
             "FULL_TEXT_FORMAT",
             {
               "name": "NAMED_FILE_WRITER",
               "fileName": "Default.log",
               "appendTo": true
             }
          ]
      }
  }
}